<!DOCTYPE html>
<html>
  <head>
    <title>Doggetts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="govuk-width-container">
    <%= render partial: "shared/nav" %>
    <%= yield %>
    <footer class="govuk-footer app-footer">
      <p class="govuk-body">&copy; D. W. Squier Ltd</p>
    </footer>
  </body>
</html>
